body{
    background-color: black;
    color: white;

}
/* HEADER */

header{
    text-align: right;
    height: 40px;
}

header>button{
    margin: 5px;
    padding: 2px 6px;
    border-radius: 4px;
    border: none;
    color: inherit;
    background-color:grey;
}

/* MAIN */
 .partecipants{
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    justify-content: center;
    /* align-items: center; */
    gap: 5px;
    /* padding : 80px; */
    height: calc( 100vh -40px -80px);
    overflow: auto;
  
}

 /* CARDS */
 .card{
    width:200px;
    height: 100px;
    position: relative;
    margin: 5px 3px ;
}

.name{
    position: absolute;
    bottom: 0;
    left: 0;

    display: inline-block;
    padding: 5px;
    background-color:rgba(100,100,100,0.4);
}

/* FOOTER */
footer{
    display: flex;
    justify-content:space-between ;
    height: 80px;
    background-color:rgba(100,100,100,0.6);
}

footer>div{
    display: flex;

}

.icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0 10px;
}

.icon-right{
    line-height: 80px;
    vertical-align: center;
    padding:0 10px;
    background-color: grey;
    color: red;
}

.active{
    color: green;
}